<footer id="rh_footer_new" style="background: #f7f7f7;">

<style>
    .rb_footer{
        background-color: #F7F7F7;
        color: #3e3e52;
        padding: 3rem 7.5rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        line-height: 20px;
    }
     .footer_link_section {
            &:before {
                content: unset;
            }
     }
     .social_icon::before {
            color: #000000;
            font-size: 1.5rem;
        }
</style>

<div class="rb_footer" style="max-width: 1200px; margin: auto; padding-left: 0; padding-right: 0;">
        <ul style=" max-width: 1200px; margin-bottom: 3rem;">


<style>
    .seoLinkSection > a{
        line-height: 2em;
        text-decoration: none;
        color: #444343;
        font-size: 13px;
        display: inline;
    }
    .seoLinkSection > a:not(:last-child):after {
        content: " | ";
        padding: 0px 4px;
        color: #444343;
        font-size: 0.813rem;
    }
</style>

<li style="display: flex; flex-direction: column; gap: 2rem;">
<div class="interLinkContainer" style="display: flex; flex-direction: column; cursor: pointer;" id="0">
            <div style=" display: flex; align-items: center; justify-content: space-between;">
                <h3 style=" font-size: 1.125rem; font-weight: 700; line-height: 1.25rem; "  (click)="toggleSeoLinks()">Popular Bus Routes</h3>
                <i  class="fas fa-arrow-down interLink icon icon-down" style=" font-size: 1rem;" (click)="toggleSeoLinks()"></i>
            </div>
            <div class="seoLinkSection" *ngIf="showSeoLinks" style="margin: .5rem 0;">
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/delhi-to-manali" target="_blank">Delhi To Manali Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/delhi-to-rishikesh" target="_blank">Delhi To Rishikesh Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/delhi-to-shimla" target="_blank">Delhi To Shimla Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/delhi-to-nainital" target="_blank">Delhi To Nainital Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/delhi-to-katra" target="_blank">Delhi To Katra Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/bangalore-to-goa" target="_blank">Bangalore To Goa Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/bangalore-to-hyderabad" target="_blank">Bangalore To Hyderabad Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/bangalore-to-tirupathi" target="_blank">Bangalore To Tirupathi Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/bangalore-to-chennai" target="_blank">Bangalore To Chennai Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/bangalore-to-pondicherry" target="_blank">Bangalore To Pondicherry Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/hyderabad-to-bangalore" target="_blank">Hyderabad To Bangalore Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/hyderabad-to-goa" target="_blank">Hyderabad To Goa Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/hyderabad-to-srisailam" target="_blank">Hyderabad To Srisailam Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada" target="_blank">Hyderabad To Vijayawada Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/hyderabad-to-tirupathi" target="_blank">Hyderabad To Tirupathi Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/pune-to-goa" target="_blank">Pune To Goa Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/pune-to-mumbai" target="_blank">Pune To Mumbai Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/pune-to-nagpur" target="_blank">Pune To Nagpur Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/pune-to-kolhapur-maharashtra" target="_blank">Pune To Kolhapur Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/pune-to-nashik" target="_blank">Pune To Nashik Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/mumbai-to-goa" target="_blank">Mumbai To Goa Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/mumbai-to-pune" target="_blank">Mumbai To Pune Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/mumbai-to-shirdi" target="_blank">Mumbai To Shirdi Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/mumbai-to-mahabaleshwar" target="_blank">Mumbai To Mahabaleshwar Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/mumbai-to-kolhapur-maharashtra" target="_blank">Mumbai To Kolhapur Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/kolkata-to-digha" target="_blank">Kolkata To Digha Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/kolkata-to-siliguri" target="_blank">Kolkata To Siliguri Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/kolkata-to-puri" target="_blank">Kolkata To Puri Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/kolkata-to-bakkhali" target="_blank">Kolkata To Bakkhali Bus</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/bus-tickets/kolkata-to-mandarmani" target="_blank">Kolkata To Mandarmani Bus</a>
            </div>
            <div style=" background-color: #C4C4C4; height: 1px; width: 100%; margin-top: .5rem;"></div>
        </div>
<div class="interLinkContainer" style="display: flex; flex-direction: column; cursor: pointer;" id="1">
            <div style=" display: flex; align-items: center; justify-content: space-between;">
                <h3 style=" font-size: 1.125rem; font-weight: 700; line-height: 1.25rem; "   (click)="toggleSeoLinks1()" >Popular Cities</h3>
                <i class="fas fa-arrow-down interLink icon icon-down" style=" font-size: 1rem;"   (click)="toggleSeoLinks1()"></i>
            </div>
            <div class="seoLinkSection" *ngIf="showSeoLinks1" style="margin: .5rem 0;">
                    <a class="footer_seo_link footer_link_new" href="buses/hyderabad-bus-tickets" target="_blank">Hyderabad Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/bangalore-bus-tickets" target="_blank">Bangalore Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/chennai-bus-tickets" target="_blank">Chennai Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/pune-bus-tickets" target="_blank">Pune Bus Tickets Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/delhi-bus-tickets" target="_blank">Delhi Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/mumbai-bus-tickets" target="_blank">Mumbai Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/kolkata-bus-tickets" target="_blank">Kolkata Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/ernakulam-bus-tickets" target="_blank">Ernakulam Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/ahmedabad-bus-tickets" target="_blank">Ahmedabad Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/vijayawada-bus-tickets" target="_blank">Vijayawada Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/jaipur-bus-tickets" target="_blank">Jaipur Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/indore-bus-tickets" target="_blank">Indore Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/lucknow-bus-tickets" target="_blank">Lucknow Bus Ticket Booking</a>
                    <a class="footer_seo_link footer_link_new" href="buses/bhopal-bus-tickets" target="_blank">Bhopal Bus Ticket Booking</a>
            </div>
            <div style=" background-color: #C4C4C4; height: 1px; width: 100%; margin-top: .5rem;"></div>
        </div>
<div class="interLinkContainer" style="display: flex; flex-direction: column; cursor: pointer;" id="2">
            <div style=" display: flex; align-items: center; justify-content: space-between;">
                <h3 style=" font-size: 1.125rem; font-weight: 700; line-height: 1.25rem; "    (click)="toggleSeoLinks2()">Popular Bus Operators</h3>
                <i class="fas fa-arrow-down interLink icon icon-down" style=" font-size: 1rem;"     (click)="toggleSeoLinks2()"></i>
            </div>
            <div class="seoLinkSection" *ngIf="showSeoLinks2" style="margin: .5rem 0;">
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/no-1-air-travels" target="_blank">No 1 Air Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/ybm-travels" target="_blank">YBM Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/sri-sms-travels" target="_blank">Sri SMS Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/svkdt-travels" target="_blank">Svkdt Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/rkt-tours-and-travels" target="_blank">RKT Tours and Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/royal-cars" target="_blank">Royal Cars</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/rahul-travels" target="_blank">Rahul Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/jbt-travels" target="_blank">JBT Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/raj-express-1" target="_blank">Raj Express</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/vaishali-express" target="_blank">Vaishali Express</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/rahul-travels-indore" target="_blank">Rahul Travels Indore</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/delhi-tours-and-travels" target="_blank">Delhi Tours And Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/ashok-travels-delhi" target="_blank">Ashok Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/greenline" target="_blank">Greenline Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/pawan-travels-balaghat" target="_blank">Pawan Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/ravi-travels" target="_blank">Ravi Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/vrl-travels" target="_blank">VRL Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/dolphin-travel-house" target="_blank">Dolphin Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/ganesh-travels" target="_blank">Ganesh Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/kaveri-kamakshi-travels" target="_blank">Kaveri Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/national-travels-national" target="_blank">National Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/bharathi-travels-bharathi" target="_blank">Bharathi Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/city-land-travels" target="_blank">City Land Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/citylink-travels" target="_blank">Citylink Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/kkaveri-travels" target="_blank">KKaveri Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/kk-travels" target="_blank">KK Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/mahadev-travels-online" target="_blank">Mahadev Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/maharaja-travels-1" target="_blank">Maharaja Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/m-r-travels" target="_blank">M R Travels</a>
                    <a class="footer_seo_link footer_link_new" href="https://www.redbus.in/travels/new-payal-travels" target="_blank">New Payal Travels</a>
            </div>
            <div style=" background-color: #C4C4C4; height: 1px; width: 100%; margin-top: .5rem;"></div>
        </div>
</li>



        </ul>
    <ul class="footer_links" style=" display: flex; width: 100%; justify-content: space-between;">
        <li class="footer_link_section main_footer_item" style="display: flex; flex-direction: column; gap: 0.5rem; width: 17rem;">
            <div class="footer_main_logos">
                 <picture>
                    <source srcset="https://s3.rdbuz.com/Images/rdc/rdc-redbus-logo.webp" type="image/webp">
                    <img src="https://s3.rdbuz.com/Images/rdc/rdc-redbus-logo.svg" alt="redBus" title="redBus" class="rb_footer_logo" style="width: 6.25rem; height: 4.1rem;">
                </picture>
            </div>
            <span class="footer_text">redBus is the world's largest online bus ticket booking service trusted by over 25 million happy customers globally. redBus offers bus ticket booking through its website, iOS and Android mobile apps for all major routes.</span>
        </li>
                <li class="footer_link_section" id="about_redbus_title_footer" style="display: flex; flex-direction: column; gap: 0.5rem;">
                    <strong class="footer_link_section_title" style="font-size: 1.125rem; color: #1d1d1d; margin: 0;">About redBus</strong>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/info/aboutus" id="about_us_footer" target="_blank" style="color: #3e3e52;">
                                About us
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/info/Investors" id="investor_relations_footer" target="_blank" style="color: #3e3e52;">
                                Investor Relations
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/info/contactus" id="contact_us_footer" target="_blank" style="color: #3e3e52;">
                                Contact us
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://m.redbus.in/" id="mobile_version_footer" target="_blank" style="color: #3e3e52;">
                                Mobile version
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/info/mobile" id="redbus_on_bus_footer" target="_blank" style="color: #3e3e52;">
                                redBus on mobile
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/sitemap.html" id="sitemap_footer" target="_blank" style="color: #3e3e52;">
                                Sitemap
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/info/offerTerms" id="offers_footer" target="_blank" style="color: #3e3e52;">
                                Offers
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/careers" id="careers_footer" target="_blank" style="color: #3e3e52;">
                                Careers
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/values" id="values_footer" target="_blank" style="color: #3e3e52;">
                                Values
                            </a>
                </li>
                <li class="footer_link_section" id="info_title_footer" style="display: flex; flex-direction: column; gap: 0.5rem;">
                    <strong class="footer_link_section_title" style="font-size: 1.125rem; color: #1d1d1d; margin: 0;">Info</strong>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/info/termscondition" id="terms_n_conditions_footer" target="_blank" style="color: #3e3e52;">
                                T&amp;C
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/info/privacypolicy" id="privacy_policy_footer" target="_blank" style="color: #3e3e52;">
                                Privacy policy
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/info/faq" id="faq_footer" target="_blank" style="color: #3e3e52;">
                                FAQ
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://blog.redbus.in" id="blog_footer" target="_blank" style="color: #3e3e52;">
                                Blog
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://onboardvendor.redbus.in/" id="bus_operator_registration_footer" target="_blank" style="color: #3e3e52;">
                                Bus operator registration
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://in3.seatseller.travel/" id="agent_registration_footer" target="_blank" style="color: #3e3e52;">
                                Agent registration
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.acko.com/" id="insurance_partner_footer" target="_blank" style="color: #3e3e52;">
                                Insurance partner
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/info/useragreement" id="user_agreement_footer" target="_blank" style="color: #3e3e52;">
                                User agreement
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/primo/primo-service" target="_blank" style="color: #3e3e52;">
                                Primo Bus
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/bus-timetable" target="_blank" style="color: #3e3e52;">
                                Bus Timetable
                            </a>
                </li>
                <li class="footer_link_section" id="global_sites_title_footer" style="display: flex; flex-direction: column; gap: 0.5rem;">
                    <strong class="footer_link_section_title" style="font-size: 1.125rem; color: #1d1d1d; margin: 0;">Global Sites</strong>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.in/" id="India_site_footer" target="_blank" style="color: #3e3e52;">
                                India
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.sg/" id="singapore_site_footer" target="_blank" style="color: #3e3e52;">
                                Singapore
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.my/" id="malaysia_site_footer" target="_blank" style="color: #3e3e52;">
                                Malaysia
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.id/" id="indonesia_site_footer" target="_blank" style="color: #3e3e52;">
                                Indonesia
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.pe/" id="peru_site_footer" target="_blank" style="color: #3e3e52;">
                                Peru
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.co/" id="colombia_site_footer" target="_blank" style="color: #3e3e52;">
                                Colombia
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.com.kh/" id="cambodia_site_footer" target="_blank" style="color: #3e3e52;">
                                Cambodia
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.redbus.vn/" id="vietnam_site_footer" target="_blank" style="color: #3e3e52;">
                                Vietnam
                            </a>
                </li>
                <li class="footer_link_section" id="our_partners_title_footer" style="display: flex; flex-direction: column; gap: 0.5rem;">
                    <strong class="footer_link_section_title" style="font-size: 1.125rem; color: #1d1d1d; margin: 0;">Our Partners</strong>
                            <a class="footer_link_section_item footer_link_new" href="https://www.goibibo.com/bus/" id="goibibo_bus_footer" target="_blank" rel="nofollow" style="color: #3e3e52;">
                                Goibibo Bus
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.goibibo.com/hotels/" id="goibibo_hotels_footer" target="_blank" rel="nofollow" style="color: #3e3e52;">
                                Goibibo Hotels
                            </a>
                            <a class="footer_link_section_item footer_link_new" href="https://www.makemytrip.com/hotels/" id="makemytrip_hotels_footer" target="_blank" rel="nofollow" style="color: #3e3e52;">
                                Makemytrip Hotels
                            </a>
                </li>
    </ul>
    <div class="horizontal_seperator" style="background-color: #e5e5e5; height: 1px; width: 100%;"></div>
    <div class="copyright_social_section" style="display: flex; justify-content: space-between;">
        <span class="footer_copyright_text">Ⓒ 2024 Redbus India Pvt Ltd. All rights reserved</span>
            <div class="social_section" style="display: flex; gap: 1.5rem;">
                        <a class="social_icon_item footer_link_new" id="redbus_facebook" href="https://www.facebook.com/redbus.in/" target="_blank" style="cursor: pointer;">
                                <img src="https://st.redbus.in/web/images/layout/social_facebook_new.svg" class="social_img" alt="redbus_facebook" loading="lazy" style=" width: 1.5rem; height: 1.5rem;">
                        </a>
                        <a class="social_icon_item footer_link_new" id="redbus_linkedin" href="https://in.linkedin.com/company/redbus_2/" target="_blank" style="cursor: pointer;">
                                <img src="https://st.redbus.in/web/images/layout/social_linkedin_new.svg" class="social_img" alt="redbus_linkedin" loading="lazy" style=" width: 1.5rem; height: 1.5rem;">
                        </a>
                        <a class="social_icon_item footer_link_new" id="redbus_twitter" href="https://twitter.com/redBus_in/" target="_blank" style="cursor: pointer;">
                                <img src="https://st.redbus.in/web/images/layout/social_twitter_new.svg" class="social_img" alt="redbus_twitter" loading="lazy" style=" width: 1.5rem; height: 1.5rem;">
                        </a>
                        <a class="social_icon_item footer_link_new" id="redbus_instagram" href="https://www.instagram.com/accounts/login/?next=/redbusindia/" target="_blank" style="cursor: pointer;">
                                <img src="https://st.redbus.in/web/images/layout/social_instagram_new.svg" class="social_img" alt="redbus_instagram" loading="lazy" style=" width: 1.5rem; height: 1.5rem;">
                        </a>
            </div>
    </div>
</div>
                </footer>
