  <!-- ------------------- primo section starts here ---------------------  -->
  <section class="flex justify-center  my-20 md:my-40">
    <div class="flex flex-col w-full mx-6 md:mx-0 md:w-[90%] max-w-[1300px]">
        <div class="w-full flex justify-center">
            <img src="./assets/primoTopBanner.svg" alt="">
        </div>


        <!-- primo features card starts here -->
        <div class="flex text-white xl:justify-between justify-center flex-wrap gap-3 mt-6 md:mt-12">
            <div class="h-40 bg-gradient-to-r from-blue-800 to-purple-700 p-5 flex rounded-3xl gap-5 max-w-[370px] items-center justify-center">
                <div class="py-2 w-[40%] h-full flex justify-center">
                    <img class="h-full" src="./assets/primoSubImg1.svg" alt="">
                </div>
                <div class="flex flex-col gap-1 w-[60%]">
                    <h3 class="font-bold text-xl">1 of 5 buses qualify</h3>
                    <p class="text-sm">Primo’s strict safety qualification ensures a safer travel for you</p>
                </div>
            </div>
            <div class="h-40 bg-gradient-to-r from-blue-800 to-purple-700 p-5 flex rounded-3xl gap-5 max-w-[370px] items-center justify-center">
                <div class="py-2 w-[40%] h-full flex justify-center">
                    <img class="h-full" src="./assets/primoSubImg2.svg" alt="">
                </div>
                <div class="flex flex-col gap-1 w-[60%]">
                    <h3 class="font-bold text-xl">Preferred by 90%</h3>
                    <p class="text-sm">90% of travellers re-book Primo buses for its punctuality and comfort</p>
                </div>
            </div>
            <div class="h-40 bg-gradient-to-r from-blue-800 to-purple-700 p-5 flex rounded-3xl gap-5 max-w-[370px] items-center justify-center">
                <div class="py-2 w-[40%] h-full flex justify-center">
                    <img class="h-full" src="./assets/primoSubImg3.svg" alt="">
                </div>
                <div class="flex flex-col gap-1 w-[60%]">
                    <h3 class="font-bold text-xl">9 Lac+ monthly travellers</h3>
                    <p class="text-sm">In 2022, 9 Lac+ people traveled with Primo every month</p>
                </div>
            </div>
        </div>
        <!-- primo features card ends here  -->
    </div>
</section>
<!-- ------------------- primo section starts here ---------------------  -->



