
    <!-- -------------------------- FAQ scetion starts here ----------------------- -->
    <section class="flex justify-center  my-20 md:my-40">
      <div class="flex flex-col w-full px-6 md:px-0 md:w-[80%] max-w-[1300px]">
          <h1 class="text-gray-700 text-2xl md:text-[2.5rem] mb-6 md:mb-12">FREQUENTY ASKED QUESTIONS</h1>

          <!-- faq navigation buttons starts here  -->
          <div class="flex gap-6 text-sm md:text-base lg:text-lg">
              <a class="py-2 px-2 border-b-[3px] border-main-color text-main-color hover:border-[#D84E55] hover:text-[#D84E55]" >General</a>
              <a class="py-2 px-2 hover:border-b-[3px] border-gray-300 hover:border-[#D84E55] hover:text-[#D84E55]" href="">Ticket-related</a>
              <a href="" class=" leading-none flex justify-center items-center hover:border-[#D84E55] gap-3 py-2 px-2 hover:border-b-[3px] border-gray-300 sm:hidden">More <i class="fa-solid fa-chevron-right"></i></a>
              <a class="hidden sm:inline-block py-2 px-2 hover:border-b-[3px] border-gray-300 hover:border-[#D84E55] hover:text-[#D84E55]"   (click)="toggleSeoLinks()">Payment</a>
              <a class="hidden sm:inline-block py-2 px-2 hover:border-b-[3px] hover:border-[#D84E55] border-gray-300 hover:text-[#D84E55]" href="">Cancellation & Refund</a>
              <a class="hidden sm:inline-block py-2 px-2 hover:border-b-[3px] hover:border-[#D84E55] border-gray-300 hover:text-[#D84E55]" href="">Insurance</a>
          </div>
          <!-- faq navigation buttons starts here  -->

          <!-- faq ans stats here  --><!--gENERAL-->

          <div class="flex flex-col gap-6 md:gap-10 mt-11">

            <!-- 1st faq  -->
            <div class="p-4 md:p-7 cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>Can I track the location of my booked bus online?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>
            <!-- 1st faq ends here  -->

            <div class="p-4 md:p-7 cursor-pointer bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>What are the advantages of purchasing a bus ticket with redBus?</h3>
                    <i class="fa-solid fa-minus inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 inline-block">
                    <p>There are many advantages to purchasing online bus tickets with redBus. redBus is India’s most trusted bus ticket company, where you can book any type of private or Government owned buses. redBus allows you to find the different types of buses, choose the preferred bus seats, and your nearest boarding and dropping points. You can also filter the buses based on timings like morning, evening bus etc.</p>
                </div>
            </div>


            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>Why book bus tickets online on redBus?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>


            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>Do I need to create an account on the redBus site to book my bus ticket?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>



            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>Does bus booking online cost me more?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>



            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>How can I get the discounts on the bus booking?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>



            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>What's New in Bus Booking on redBus?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>


            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>Can I book a Government bus ticket on redBus?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>


        </div>




          <div class="flex flex-col gap-6 md:gap-10 mt-11" *ngIf="showSeoLinks">

            <!-- 1st faq  -->
            <div class="p-4 md:p-7 cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>Can I track the location of my booked bus online?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>
            <!-- 1st faq ends here  -->

            <div class="p-4 md:p-7 cursor-pointer bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>What are the advantages of purchasing a bus ticket with redBus?</h3>
                    <i class="fa-solid fa-minus inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 inline-block">
                    <p>There are many advantages to purchasing online bus tickets with redBus. redBus is India’s most trusted bus ticket company, where you can book any type of private or Government owned buses. redBus allows you to find the different types of buses, choose the preferred bus seats, and your nearest boarding and dropping points. You can also filter the buses based on timings like morning, evening bus etc.</p>
                </div>
            </div>


            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>Why book bus tickets online on redBus?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>


            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>Do I need to create an account on the redBus site to book my bus ticket?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>



            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>Does bus booking online cost me more?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>



            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>How can I get the discounts on the bus booking?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>



            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>What's New in Bus Booking on redBus?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>


            <div class="p-4 md:p-7  cursor-pointer bg-white group hover:bg-slate-100 rounded-2xl border border-gray-100">
                <!-- displayed part  -->
                <div class="flex md:text-base text-sm justify-between items-center font-semibold gap-2">
                    <h3>Can I book a Government bus ticket on redBus?</h3>
                    <i class="fa-solid fa-plus inline-block group-hover:hidden"></i>
                    <i class="fa-solid fa-minus hidden group-hover:inline-block"></i>
                </div>

                <!-- hidden content -->
                <div class="text-xs md:text-sm mt-6 hidden group-hover:inline-block">
                    <p>Yes, you can track your <strong>bus online</strong> by using our bus tracking app feature called <a class="text-blue-500">Track My Bus</a>. This feature allows passengers and their families to track the live bus tracking location. You may follow your bus on a map and use the information to plan your trip to the boarding point and to get off at the correct stop. Family and friends may also check the bus position to plan pick-ups and ensure your safety.</p>
                </div>
            </div>


        </div>
          <!-- faq ans ends here  -->

      </div>
  </section>
  <!-- -------------------------- FAQ scetion starts here ----------------------- -->
